[Unit]
Description=Corosync Cluster Engine
Documentation=man:corosync man:corosync.conf man:corosync_overview
ConditionKernelCommandLine=!nocluster
Requires=network-online.target
After=network-online.target nvme-cluster-init.service

[Service]
EnvironmentFile=-/etc/default/corosync
ExecStartPre=/bin/bash -c 'for i in $(seq 1 60); do ip -4 addr show | grep -q "192.168.177\\." && exit 0; sleep 1; done; echo "RDMA IP not ready"; exit 1'
ExecStart=/usr/sbin/corosync -f $COROSYNC_OPTIONS
ExecStop=/usr/sbin/corosync-cfgtool -H --force
Type=notify

# In typical systemd deployments, both standard outputs are forwarded to
# journal (stderr is what's relevant in the pristine corosync configuration),
# which hazards a message redundancy since the syslog stream usually ends there
# as well; before editing this line, you may want to check DefaultStandardError
# in systemd-system.conf(5) and whether /dev/log is a systemd related symlink.
StandardError=null

Restart=on-failure
RestartSec=5s
#  rewrite according to environment.
#ExecStartPre=/sbin/modprobe softdog
PrivateTmp=yes

[Install]
WantedBy=multi-user.target